body{
	background-image: url(../images/img4.jpg);
	background-attachment: all;
	background-size: cover;
}

div{
	margin: auto;
	margin-left: 350px;
	margin-top: 200px;
	background: rgba(0,0,0,0.8);
	padding: 15px;
	width: 350px;
	border-radius: 20px;
	
}

div form{
	text-align: center;
}
div h1{
	font-family: verdana;
	color: red;

}

div form input{
	width: 90%;
	text-align: center;
}
div form .num1{
	border-radius:10px;
	padding: 10px;
}

div form .num2{
	border-radius:10px;
	padding: 10px;
}

div form p{
	text-align: center;
	font-family: verdana;
	color: white;
}
div form p a{
	text-decoration: none;
	color: white;
}

div form .boton{
	padding: 10px;
	background: red;
	color: white;
	font-family: verdana;
	border-radius: 10px;
	margin: auto;
}

div form .boton:hover{
	color: red;
	background: white;
	transition-duration: 2s;
}






